@charset "utf-8";
.break_dekstop{display:block;}
	.break_laptop{display:none;}
	.break_mobile{display:none;}
@media (max-device-width: 640px) {
	    #menu_desktop {
	        display: none;
	    }
	    #about_site,
	    #work_site,
	    #contact_site,
	    #close_menu {
	        width: 100%;
	    }
	    #menu_icon {
	        display: block;
	    }
	}
/* CSS Document */

@media screen and (min-width: 640px) and (max-width: 1400px) {
	    .hello {
	        font-size: 200px;
	    }
		.text00 {
	        font-size: 50px;
		    top: -130px;
	    }
	    .text01 {
			font-size:40px;
	           top: -130px;
			
	    }
	
	
	#word-container{    top: -131px;}
	    
	}
@media screen and (max-width: 640px) {
	.mobile_hide{display:none;}
		 #menu_desktop {
	        display: none;
	    }
	    #about_site,
	    #work_site,
	    #contact_site,
	    #close_menu {
	        width: 100%;
	    }
	    #menu_icon {
	        display: block;
	    }
	    .box_one {
	        width: 100%;
	    }
	    .box_two {
	        width: 100%;
	    }
	    .box_three {
	        width: 100%;
	    }
	    .box_four {
	        width: 100%;
	    }
	    .hello {
	        font-size: 25vw !important;
	        top: 0px;
	    }
	    .text00 {
	        font-size: 10vw;
			 top: 0px;
	    }
	    .text01 {
	        font-size: 7vw;
			 top: 0px;
	    }
	    #logo_menu {
	        width: 100%;
	        height: 63px;
	        position: relative;
	        margin: 0 auto;
	        min-width: 297px;
	    }
	    #img_logo_menu {
	        border-right: 0px solid #4d5353;
	        position: relative;
	        top: auto;
	        left: 45%;
	        ;
	        padding-right: 0px;
	        margin: 0 auto;
	        text-align: center;
	        bottom: 10px;
	    }
	    #name_logo_menu {
	        display: none;
	        height: 0px;
	    }
	    #menu_logo_title {
	        display: none;
	        height: 0px;
	    }
	    #word-container {
	        
	                position: relative;
    top: -15px;
    font-size: 18px;
    line-height: 4px;
    width: 240px;
	    }
		.break_dekstop{display:none;}
	.break_laptop{display:none;}
	.break_mobile{display:block;}
	
	.character{font-size: 16px;line-height: 16px;}
	}
@media (min-width: 550px) and (max-width: 1200px) {
	.brand{		
		width:100%;
		}
}
@media screen and (min-width: 550px) and (max-width: 1200px) {
	.brand{		
		width:100%;
		}
}
@media (max-device-width: 550px) {
	.brand_img{
		    float: left;width: 40%;margin-top:15px;text-align:center;
			}
	.brand_right{text-align: right;
    margin-left: 30px;}
	.brand_left{    text-align: right;
    margin-left: 14px;}
	.brand{    width: 100%;
    margin: 0 auto;}
}
@media screen and (max-width: 550px) {
	.brand_img{
		    float: left;width: 40%;margin-top:15px;text-align:center;
			}
	.brand_right{text-align: right;
    margin-left: 30px;}
	.brand_left{    text-align: right;
    margin-left: 14px;}
	.brand{    width: 100%;
    margin: 0 auto;}
}
	@media screen and (max-height: 400px) {
	#about_site,
	#work_site,
	#contact_site,
	#close_menu {
	    margin: -11px auto;	    
	}
	#logo_menu{display: none;}
}
@media screen and (min-width: 640px) and (max-width: 1000px) {
	.keimeno2_B {font-size:14px;}
	.keimeno1_B{font-size:16px;}
	.keimena_B{line-height: 16px;}
@media screen and (min-width: 640px) and (max-width: 1100px) {
	.keimeno2_B {font-size:14px;}
	.keimeno1_B{font-size:16px;}
	.keimena_B{line-height: 16px;}}	
	@media screen and (min-width: 640px) and (max-width: 1100px) {
	.break_dekstop{display:none;}
	.break_laptop{display:block;}
	.break_mobile{display:none;}
	#word-container{width:640px;    line-height: 7px;}
	
	}
	@media screen and (min-width: 640px) and (max-width: 1100px) {
	.break_dekstop{display:none;}
	.break_laptop{display:block;}
	.break_mobile{display:none;}
	#word-container{width:640px;    line-height: 7px;}
	}
	@media (max-device-width: 640px) {
	
	
	}
	@media screen and (max-width: 640px) {
	.break_dekstop{display:none;}
	.break_laptop{display:none;}
	.break_mobile{display:block;}
	#word-container{line-height: 22px;width: 240px;}
	.character{font-size: 16px;line-height: 16px;}
	
	}